<h1 class="title">Log in</h1>

<%= form_tag log_in_path do %>
<fieldset class="form-group">
 <%= label_tag "User Name",nil,class:'form-control' %>
 <%= text_field_tag "user[username]",nil,class:"form-control"%>
</fieldset>
<%=submit_tag 'Log in' ,class:"form-control btn btn-primary"%>
<% end %>
