<h1 class="title mx-auto">All Events</h1>

<h2>Upcoming Events</h2>
<div>
  <% @upcoming_events.each do |event| %>
    <p class="jumbotron p-3 bg-info text-light lead mt-1"><%= event.description %> @<%= event.event_date %></p>
  <% end %>
</div>

<h2 class="">Past Events</h2>

<div class="mt-2">
  <% @past_events.each do |event| %>
    <p class="jumbotron p-3 alert-danger text-dark lead"><%= event.description %> @<%= event.event_date %></p>
  <% end %>
</div>

